
:root{
    --abril:'Abril Fatface', cursive;
    --open:'Open Sans', sans-serif;
    --ubuntu:'Ubuntu', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
img{
   max-width: 100%;
   display: block;
}
.container{
    width: 1170px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}
/* header part */
#header{
    font-family: var(--ubuntu)
}
#header .top_header{
    background: #0f2f44;
    color: #fefefe;
    font-weight: 400;
    padding: 15px 0;
}
#header .top_header .row{
    justify-content: space-between;
}
#header .nav div.row{
    align-items: center;
}
#header .nav .logo{
    width: 20%;
}
#header .nav .menu{
    width: 80%;
}
#header .nav .menu{
    justify-content: flex-end;
}
#header .nav .menu ul li a{
    color: #222222;
    font-weight:500;
    text-transform: capitalize;
    padding: 38px 19px;
    display: inline-block;
    transition: .3s linear;
}
#header .nav .menu ul li:hover a,
#header .nav .menu ul li a.active,
#header .nav .menu .nav_icon li:hover{
    background-color: #fff9e6;
    color: #ffd447;
}

#header .nav .menu .nav_icon li{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #dedede;
    margin: 0 10px;
    text-align: center;
    line-height: 30px;
    color: #999999;
    transition: .3s linear;
    cursor:pointer;
}
/* banner section start*/
#banner{
    background: #e0edff;
}
#banner .row{
    align-items: center;
}
#banner .banner_content{
    width: 35%;
}
#banner .banner_content h1{
    color: #0f2f44;
    font-size: 80px;
    line-height: 0.7;
    font-family: var(--abril)
}
#banner .banner_content h1 small{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 50px;
    display: block;
}
#banner .banner_content h5{
    font-family: var(--ubuntu);
    font-size: 32px;
    color: #8484bf;
    letter-spacing: 14px;
    padding: 15px 0 30px;
}
#banner .banner_content a{
    display: inline-block;
    padding: 15px 20px;
    background: #8383bf;
    font-size: 20px;
    font-family: var(--ubuntu);
    border-radius: 5px;
    margin-top: 10px;
}

#banner .banner_content p{
    font-size: 14px;
    text-align: justify;
    line-height: 1.5;
    color: #444444;
    font-family: var(--open);
}
#banner .banner_content button{
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50px;
    background: #fff;
    color:#8383bf;
    font-size: 20px;
    margin-left:20px;
}
#banner .banner_img{
    padding-top: 63px;
    width: 65%;
}
/* banner section close */
#about .row{
    align-items: center;
    justify-content: space-between;
}
#about .about_info{
    width: 50%;
}
#about .about_img{
    width: 50%;
}